# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
ROS/drift/fetch
ROS/drift/husky
ROS/drift/mini_cheetah
ROS/drift/fetch_imu_filter

build/
lib/

# VS Code
.vscode

# MAC OS
.DS_Store

# logs
log/*.txt
log/*/*.txt